**/*/.DS_Store
**/target

data
data_producer/target
data_producer/**/target

.metals
metals.sbt
.bloop
project/.bloop
.vscode
.scalafmt.conf

influxdb/project
influxdb/target

old_scripts
logs
*.csv
.env

/test/produceenv
*.png
/test/alerts.txt